.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.links {
  .title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 5px;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;

  .refreshButton {
    padding: 12px;
    border-radius: 10px;
    font-size: 24px;
    color: var(--secondary);

    &:hover {
      color: var(--black);
    }
  }

  .downloadButton {
    padding: 12px;
    border-radius: 10px;
    font-size: 24px;
    background-color: var(--primary-blue);
    color: white;

    &:hover {
      opacity: 0.9;
    }
  }
}
