.input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  outline: none;
  margin-bottom: 12px;
  &:hover,
  &:focus {
    border-color: var(--black);
  }

  &.error {
    border-color: red;
  }
}
